body {
    margin-top: 70px;
    height: 900px;
}


/* navbar */

div.navbar-nav a {
    color: white;
    margin: 0 10px;
}

div.navbar-nav a:hover {
    background-color: darkcyan;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.3s;
}


/* slider */

ol.carousel-indicators {
    bottom: 50px;
}

div.carousel-item img {
    filter: brightness(50%);
}

div.carousel-caption {
    top: 180px;
}

div.carousel-caption h2 {
    text-shadow: 3px 3px 10px #000;
}


/* Card */

.card.text-center {
    top: -50px;
}

.card.text-center a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}